# Mathilde Ritman 2023, config for performing TOBAC cloud tracking


version_name: 'updraft'
select_data: 'wa_phy'
segment_data: 'wa_phy'
grid_spacing: 11100  # in meter (for Latitude)
time_spacing: 900 # seconds (= 15 mins)
dz: 300

params_features: 
  n_min_threshold: 6 # minimum number of contiguous pixels to define a feature
  position_threshold: 'weighted_diff' # how to choose position of feature comprised of multiple pixels
  sigma_threshold: 0 # standard deviation for intial filtering step used to smooth the feature data
  target: "maximum"
  min_distance: 27750 # 2.5*dxy # minimum distance between detected features (m)
  # threshold: [.75,3,5,10] # m/s - choice used in Ritman et al., 2025
  threshold: [1,3,5,10] # m/s - choice used for tropics-wide experiment
  n_erosion_threshold: 0 # number of pixels by which to erode the identified features
  vertical_coord: 'height'
  dz: 300 # (meters) assumes constant vertical spacing
  # PBC_flag: # whether to use periodic boundaries, and if so in which directions

params_segmentation:
  method: 'watershed'
  # threshold: .75 # m/s - choice used in Ritman et al., 2025
  threshold: 1 # m/s - choice used for tropics-wide experiment
  target: "maximum"
  seed_3D_flag: 'box'
  vertical_coord: 'height'
  # PBC_flag: # whether to use periodic boundaries, and if so in which directions

params_linking:
  method_linking: 'predict'
  d_max: 100000 # set max search range (m)
  adaptive_stop: 0.2
  adaptive_step: 0.95
  memory: 0
  stubs: 1 # minimum number of timesteps of a tracked cell to be reported
  vertical_coord: null # must be set as None when using 'dz'
  dz: 300 # (meters) assumes constant vertical spacing
  # PBC_flag: # whether to use periodic boundaries, and if so in which directions
  # min_h2=0, # to use for boundaries if using PBC flag for periodic boundary across longitude
  # max_h2=3600,

savedir: "/work/bb1153/b382635/tobac_tracking"
plotdir: "/work/bb1153/b382635/plots/icon/tobac_tracking"